.foto {
	display: block;
	width: 400px;
	height: auto;
}

.hlavicka {
	position: relative;
}

.nazev {
	margin: 0 0 20px 0;
	font-family: 'Lobster';
	font-size: 100px;
	font-weight: normal;
	color: black;
}

.odkazy a {
	display: block;
	padding: 10px;
  text-align: center;
  text-decoration: none;
	color: #ffffff;
}

.Pravidla{
  background-color: #1fcca4;
}

.hrát{
  background-color: #0197f6;
}

.Pravidla a:hover {
	background-color: #1cbb96;
}
.hrát a:hover {
  background-color: #0090e9;
}