html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.foto {
	display: block;
	width: 400px;
  height: auto;
  border-radius: 7px 7px 0 0;
}
.profil {
	margin: 50px;
  width: 400px;
  font-size: 12px;
  text-align: center;
	background-color: #283e50;
  color: #ffffff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  border-radius: 7px 7px 0 0;
}

.hlavicka {
	position: relative;
}

.nazev {
	margin: 0 0 20px 0;
	font-family: 'Lobster';
	font-size: 80px;
	font-weight: normal;
	color: white;
}

.odkazy a {
	display: block;
	padding: 10px;
  text-align: center;
  text-decoration: none;
	color: #ffffff;
}

.odkazy {
	margin: 0;
	padding: 0;
  list-style: none;
  width: 400px;
}

.odkazy li {
	display: inline-block;
}
.pravidla-homepage{
  background-color: #1fcca4;
  width: 100%;
  margin-bottom: 1px;
}

.zacit-hrat{
  background-color: #0197f6;
  width: 100%;
}

.odkazy a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;

}
.pravidla-homepage a:hover {
	background-color: #1cbb96;
}
.hrát a:hover {
  background-color: #0090e9;
}
.obsah {
	/* text uvnitř obsahu odsadíme od okraje-poslední code prvniho prikladu */
	padding: 30px 20px 20px 20px;
}

.zarovnani {
  padding: 0 20px;
}
.kontejner {
  max-width: 90%;
  border-radius: 7px 7px 0 0;
  background-color: #283e50;
  color: #ffffff;
}
@media screen and (min-width: 540px) and (max-width: 960px) {
  .kontejner {
    width: 80%;
  }
}
@media screen and (min-width: 960px) {
  .kontejner {
    width: 60%;
  }
}
.obrazekpravidla{
  width: 100%;
  height: auto;
}
@media screen and (min-width: 540px) and  (max-width: 960px){
.obrazekpravidla{
  width: 100%;
  }
}
@media screen and(min-width: 540px) {
  .kontejner{
    width: 80%;
  }
}

.nazev {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  text-align: center;
}
.obsah2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px 30px;
}
@media screen and (min-width: 540px) {
  .obsah2 {
    width: calc(80% / 2);
    align-items: stretch;
    margin: 0 20px 20px;
  }
}
.druhacast {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
}
.legenda {
  font-style: italic;
  text-align: center;
  margin: 10px 0 0;
  font-size: 16px;
}
@media screen and (min-width: 540px) {
  .legenda {
    font-size: 14px;
  }
}
.list {
    margin-bottom: 40px;
    padding: 0 40px;
  }
.list li {
    margin-bottom: 10px;
    font-size: 16px;
  }
.icon {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}
.start  {
    background-color: #0197f6;
  }
.start:hover{
    background-color: #0090e9;
  }
.pravidla  {
    background-color: #1fcca4;
    margin-bottom: 1px;
  }
.pravidla:hover{
    background-color: #1cbb96;
  }

.button {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 10px 0;
    color: #ffffff;
    text-decoration: none;
  }
.button,
.headline{
  text-align: center;
}

/*část 3*/
.hra {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vmin;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80vmin;
}
.title {
  font-size: 3rem;
  font-family: Lobster;
  color: white;
  margin: 20px 0;
}
.minimenicko {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
}
.info {
  display: flex;
  font-size: 20px;
  margin: 0;
  padding-top: 10px;
}
.info::after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2.75px solid white;
  margin: 0;
  margin-left: 5px;
}
.btns-minimenicko {
  display: flex;
}
.btn {
  border-radius: 10%;
  border: 0;
  margin: 3px;
  height: 35px;
}
.home {
  background-color: #1fcca4;
}
.home a {
  display: block;
}
.restart a {
  display: block;
}
.restart {
  background-color: #0197f6;
}
.home:hover,
.home:focus {
  background-color: #1cbb96;
}
.restart:hover,
.restart:focus {
  background-color: #0090e9;
}
.hraci-pole {
  display: flex;
  flex-wrap: wrap;
  opacity: 0.5;
  width: 100%;
}
.hraci-pole button {
  width: 10%;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.hraci-pole button:hover,
.hraci-pole button:focus {
  filter: brightness(200%);
}

.hraci-pole button::before {
  content: '';
  display: block;
  padding-top: 100%;
}